.navbar {
  background-color: #fff;
  border-bottom: 1px solid #e5e7eb;
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 15px;
}

.navbar a {
  text-decoration: none;
  color: #0d6efd;
  font-weight: 500;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #084298;
}
